@model KahvelerMezundanBooking.Models.ViewModels.MezunDetailViewmodel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>MezunDetailViewmodel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateofEvent" class="control-label"></label>
                <input asp-for="DateofEvent" class="form-control" />
                <span asp-validation-for="DateofEvent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MezunPicture" class="control-label"></label>
                <input type="file" name="files" multiple asp-for ="MezunPicture" /> 
                <span asp-validation-for="MezunPicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    @TempData["Success"]
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
